<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> ng-click 事件指定</title>
    <script src="org/require.js"></script>
    <script src="org/main.js"></script>
	</head>
	<body ng-controller="ctrl" id="id">
		<input type="text" ng-model="name" />
		<button ng-click="fun()" ng-model="name">增加</button>
		
		
<script type="text/javascript">
	require(['angular'], function(){
		var md = angular.module('id', []);
		md.controller('ctrl',['$scope',function($scope){
			$scope.fun = function(){
				$scope.name = '触发事件';
			}
		}]);
		angular.bootstrap(document.getElementById('id'),['id']);
	})
</script>		
	</body>
</html>
