<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> ng-</title>
    <script src="org/require.js"></script>
    <script src="org/main.js"></script>
	</head>
	<body ng-controller="ctrl" id="id">
		<input type="text" ng-model="name" ng-init="name='名字'" />
		<p ng-bind="name"></p>
		<br /><br />
		
		<input type="text" name="mail" ng-trim="false" ng-model="mail" />
		{{mail}}
		
<script type="text/javascript">
	require(['angular'], function(){
		var md = angular.module('id', []);
		md.controller('ctrl',['$scope',function($scope){
			
		}]);
		angular.bootstrap(document.getElementById('id'),['id']);
	})
</script>		
	</body>
</html>
